learn-hpc/node_modules
learn-hpc/dist
learn-hpc/.DS_Store
learn-hpc/*.local
learn-hpc/.vite
learn-hpc
ignore/
.vscode
rc/__pycache__/

workloads/bin/

manim/media/
manim/__pycache__/
manim/scenes/__pycache__/
manim/
